<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Christmas needs (gauges): <%= @need_type %>
  </title>

  <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" />
  <link rel="stylesheet" href="/round_2/styles.css" />
  </head>

  <body>
    <div id="christmas_goals" class="chart"></div>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="/round_2/christmas_needs/gauges/<%= @need_type %>/chart"></script>
  </body>
</html>


