$('.chart').each(function(index, elem) {
  var id = $(elem).attr('id');
  var current = $(elem).data('current');
  var goal = $(elem).data('goal');
  var percent = $(elem).data('percent');
  var title = $(elem).data('title');
      
  $(elem).highcharts({
    chart: {
      styledMode: true,
      type: 'solidgauge'
    },
    credits: {
      enabled: false
    },
    pane: {
      background: {
        innerRadius: '60%',
        outerRadius: '100%',
        shape: 'arc'
      },
      endAngle: 90,
      size: '100%',
      startAngle: -90
    },
    series: [{
      name: '2019',
      data: [{
        y: current,
        name: 'Progress'
      }, {
        y: goal,
        name: 'Goal',
        innerRadius: 0,
        radius: 0
      }],
      dataLabels: {
        formatter: function (self) {
          return current.toString() + ' / ' + goal.toString();
        },
      }
    }],
    subtitle: {
      text: '<a href="/round_3/christmas_needs/timeline/' + id + '">Timeline</a>',
      useHTML: true
    },
    title: {
      text: title,
      useHTML: true,
      widthAdjust: 0
    },
    yAxis: [{
      labels: {
        enabled: false
      },
      min: 0,
      max: goal,
    }]
  });
});
