<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Christmas need timeline: <%= @need_slug.gsub('_', ' ') %>
  </title>

  <link rel="stylesheet" href="https://code.highcharts.com/css/highcharts.css" />
  <link rel="stylesheet" href="/round_3/styles.css" />
  <link rel="stylesheet" href="/round_3/christmas_needs.css" />
  </head>

  <body>
    <figure id="timeline"></figure>

    <script src="/jquery-3.4.1.js"></script>
    <script src="/highcharts-8.0.0.js"></script>
    <script src="/highcharts-more-8.0.0.js"></script>
    <script src="/highcharts-solid-gauge-8.0.0.js"></script>
    <script src="/round_3/christmas_needs/timeline/<%= @need_slug %>/chart"></script>
  </body>
</html>


